/* Importing all the required fonts */

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Archivo */
@font-face {
    font-family: 'Archivo';
    src: url(/assets/fonts/archivo/Archivo-Regular.eot),
         url(/assets/fonts/archivo/Archivo-Regular.ttf) format('truetype'),
         url(/assets/fonts/archivo/Archivo-Regular.woff) format('woff'),
         url(/assets/fonts/archivo/Archivo-Regular.woff2) format('woff2');
}

/* Chillax */
@font-face {
    font-family: 'Chillax';
    src: url(/assets/fonts/chillax/Chillax-Regular.eot),
         url(/assets/fonts/chillax/Chillax-Regular.ttf) format('truetype'),
         url(/assets/fonts/chillax/Chillax-Regular.woff) format('woff'),
         url(/assets/fonts/chillax/Chillax-Regular.woff2) format('woff2');
}

:root {

    /* Color Palette */
    --color-white: #FFFFFF;
    --color-light-gray: #E5E5E5;
    --color-bg-gray: #C3C3C3;
    --color-dark-gray: #7E7E7E;
    --color-black: #1D1D1D;
    --color-green: #2D5C43;
    --color-purple: #393158;
    --color-green-ocean: #2A5259;
    --color-olive: #706947;

    /* Typography */
    font-family: 'JetBrains Mono';

    /* Fonts size */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 3.75rem; /* 60px */
    --text-7xl: 4.5rem; /* 72px */
    --text-8xl: 6rem; /* 96px */
    --text-9xl: 8rem; /* 128px */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--color-light-gray);
}

body{
    font-family: 'JetBrains Mono';
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--color-white);
}