/* Importing all the required fonts */

/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Archivo */
@font-face {
    font-family: 'Archivo';
    src: url(/assets/fonts/archivo/Archivo-Regular.eot),
         url(/assets/fonts/archivo/Archivo-Regular.ttf) format('truetype'),
         url(/assets/fonts/archivo/Archivo-Regular.woff) format('woff'),
         url(/assets/fonts/archivo/Archivo-Regular.woff2) format('woff2');
}

/* Chillax */
@font-face {
    font-family: 'Chillax';
    src: url(/assets/fonts/chillax/Chillax-Regular.eot),
         url(/assets/fonts/chillax/Chillax-Regular.ttf) format('truetype'),
         url(/assets/fonts/chillax/Chillax-Regular.woff) format('woff'),
         url(/assets/fonts/chillax/Chillax-Regular.woff2) format('woff2');
}

:root {

    /* Color Palette */
    --color-white: #FFFFFF;
    --color-light-gray: #E5E5E5;
    --color-bg-gray: #C3C3C3;
    --color-dark-gray: #7E7E7E;
    --color-black: #1D1D1D;
    --color-green: #2D5C43;
    --color-purple: #393158;
    --color-green-ocean: #2A5259;
    --color-olive: #706947;

    /* Typography */
    font-family: 'JetBrains Mono';
    --font-archivo: 'Archivo', sans-serif;
    --font-chillax: 'Chillax', sans-serif;
    --font-jetbrains-mono: 'JetBrains Mono', sans-serif;

    /* Fonts size */
    --text-small: 0.625rem; /* 10px */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-xxl: 2.625rem; /* 42px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 3.75rem; /* 60px */
    --text-7xl: 4.5rem; /* 72px */
    --text-8xl: 6rem; /* 96px */
    --text-9xl: 8rem; /* 128px */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--color-light-gray);
}

body{
    font-family: var(--font-jetbrains-mono);
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--color-white);
}


/******************************************* CRAFTING UI *******************************************/

/**************************** PROMO BANNER ****************************/

.promo-banner {
    background-color: var(--color-black);
    gap: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-banner p {
    font-size: var(--text-small);
    font-weight: 400;
    text-align: center;
    line-height: 12px;
    color: var(--color-white);
    letter-spacing: -0.4px;
}

/**************************** HEADER ****************************/

header {
    background-color: var(--color-light-gray);
    height: 72px;
}

/**************************** HERO ****************************/

.hero-section, .collection-section, .summer-fashion {
    padding: 26px 20px;
}

.hero-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(/assets/images/jordan-jacket.png) no-repeat center center;
    background-size: cover;
    width: auto;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 22px;
    gap: 10px;
    border-radius: 52px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.hero-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    align-self: stretch;
}

.hero-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.rectangle {
    width: 66px;
    height: 0.5px;
    background-color: var(--color-white);
}

.heading-text {
    color: var(--color-white);
    font-family: Archivo;
    font-size: var(--text-small);
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: -0.4px;
}

.hero-text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.hero-text-description h1 {
    font-family: var(--font-chillax);
    font-size: var(--text-3xl);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    line-height: 36px;
    letter-spacing: -1.2px;
}

.hero-text-description p {
    font-family: var(--font-archivo);
    font-size: var(--text-sm);
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    line-height: 16px;
    letter-spacing: -0.48px;
}

.hero-content-btn {
    display: flex;
    align-items: center;
    gap: -1px;
}

.goto-shop {
    display: flex;
    width: 128px;
    height: 44px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
    background-color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-archivo);
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--color-black);
    line-height: 20px;
    letter-spacing: -0.56px;
}

.arrow-btn {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    border-radius: 100px;
    background-color: var(--color-white);
}

.arrow-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

/**************************** SUMMER FASHION ****************************/

.collection-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.intro-heading {
    flex: 1 0 0;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-chillax);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.8px;
}


.product-card {
    width: 322px;
    height: 479px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.image-container {
    display: flex;
    width: 322.667px;
    height: 405px;
    padding: 18px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
}

.product-details {
    display: flex;
    display: flex;
    width: 322.667px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.product-title {
    color: var(--color-black);
    font-family: var(--font-archivo);
    font-size: var(--text-2xl);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -4%;
}

.product-price {
    color: var(--color-dark-gray);
    font-family: var(--font-archivo);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -4%;
}

/**************************** COLLECTION ****************************/

.collection-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    color: var(--color-black);
}

.collection-heading h2 {
    text-align: center;
    font-family: var(--font-chillax);
    font-size: var(--text-2xl);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -4%;
}

.collection-heading p {
    color: var(--color-dark-gray);
    text-align: center;
    font-family: var(--font-archivo);
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -4%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.men-collection {
    background: url(/assets/images/blue-jacket.png) no-repeat center center;
    background-size: cover;
    border-radius: 32px;
    width: 335px;
    height: 446px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-top: 36px;
}

.men-collection-heading {
    color: transparent;
    -webkit-text-stroke: 1.5px var(--color-white); /* Pour WebKit */
    -moz-text-stroke: 1.5px var(--color-white); /* Pour Firefox */
    font-family: var(--font-chillax);
    font-size: var(--text-3xl);
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: -4%;
}

.men-collection .paragraph{
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-archivo);
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -4%;
}

.learn-more-card {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(/assets/images/tech-shacket.png) no-repeat center center;
    background-size: cover;
    border-radius: 32px;
    width: 335px;
    height: 446px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 36px;
    position: relative;
}

.learn-more-btn {
    background-color: var(--color-white);
    border-radius: 52px;
    display: flex;
    width: 156px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    position: absolute;
    right: 89px;
    bottom: 24px;
    font-family: var(--font-archivo);
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--color-black);
    text-decoration: none;
    line-height: 20px;
    letter-spacing: -4%;
}

/**************************** FOOTER  ****************************/

footer {
    background-color: var(--color-black);
    padding: 26px 20px;
}

.footer-wrapper {
    gap: 32px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.footer-headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
}

.footer-logo {
    width: 158px;
    height: 36px;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
}

.footer-subscribe p {
    font-family: var(--font-archivo);
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.48px;
    color: var(--color-bg-gray);
    width: 100%;
    height: 32px;
}

.subscribe {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.subscribe input {
    width: 199px;
    height: 44px;
    background:none;
    font-family: var(--font-archivo);
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 14px;
    border-radius: 100px;
    border: 1px solid var(--color-white);
}

.subscribe input::placeholder {
    color: var(--color-white);
    font-size: var(--text-xs);
    line-height: 16px;
}

.subscribe button {
    width: 128px;
    height: 44px;
    background-color: var(--color-white);
    font-family: 'Archivo';
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--color-black);
    line-height: 20px;
    letter-spacing: -0.56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 12px 20px;
    border-radius: 100px;
}

.footer-columns {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.footer-column {
    height: 92px;
    gap: 8px;
}

.footer-column:last-child {
    width: fit-content;
}

.footer-heading {
    height: 24px;
    color: var(--color-white);
    font-family: var(--font-archivo);
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.48px;
    white-space: nowrap;
}

.list-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.list-item-link {
    color: var(--color-bg-gray);
    font-family: var(--font-archivo);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.4px;
}

.footer-bottom {
    margin-top: 72px;
    display: flex;
    justify-content: center;
}

.footer-bottom-wrapper {
    width: 140px;
    height: 12px;
    align-content: center;
    gap: 10px;
}

.footer-bottom-wrapper p {
    color: var(--color-dark-gray);
    font-family: Archivo;
    font-size: var(--text-small);
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.4px;
}

#waris {
    text-decoration: underline;
}

/* RESPONSIVE DESIGN */

@media screen and (min-width: 768px) {

/**************************** PROMO BANNER ****************************/

.promo-banner p {
    font-size: var(--text-sm);
    line-height: 16px;
}

/**************************** HEADER ****************************/

/**************************** HERO ****************************/
.hero-section, .collection-section {
    padding: 36px 46px;
}

.hero-container {
    padding: 96px 78px;
}

.heading-text {
    font-size: var(--text-sm);
}

.hero-text-description h1 {
    font-size: var(--text-xxl);
    line-height: 44px;
    letter-spacing: -1.68px;
}

.hero-text-description p {
    line-height: 20px;
    letter-spacing: -4%;
}

/**************************** COLLECTION ****************************/

.card-container {
    flex-direction: row-reverse;
    align-items: center;
    height: 446px;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 64px;
}

.men-collection-heading {
    font-size: var(--text-3xl);
    line-height: 36px;
}

.learn-more-card {
    bottom: -36px;
}

/**************************** FOOTER  ****************************/    
    footer {
        padding: 26px 46px;
    }

    .footer-headline {
        width: 452px;
    }

    .footer-subscribe p {
        font-size: var(--text-sm);
    }

    .subscribe input {
        width: 316px;
    }

    .footer-columns {
        gap: 52px;
    }

    .footer-column {
        width: 68px;
        height: 140px;
    }

    .footer-heading {
        font-size: var(--text-base);
    }

    .list-item-link {
        font-size: var(--text-sm);
        line-height: 20px;
    }

    .footer-bottom {
        margin-top: 36px;
    }
}

@media screen and (min-width:1024px) {
/**************************** PROMO BANNER ****************************/

.promo-banner p {
    font-family: var(--font-archivo);
}

/**************************** HEADER ****************************/

/**************************** HERO ****************************/
.hero-section, .collection-section {
    padding: 36px 46px;
}

.hero-container {
    padding: 96px 78px;
}

.heading-text {
    font-size: var(--text-base);
    letter-spacing: -4%;
}

.hero-text-description p {
    width: 557px;
    font-size: var(--text-base);
    line-height: 24px;
    letter-spacing: -4%;
}

/**************************** COLLECTION ****************************/

.men-collection {
    width: 675px;
}

.men-collection-heading {
    font-size: var(--text-5xl);
    line-height: 60px;
}

.paragraph {
    font-size: var(--text-lg);
    line-height: 28px;
}

/**************************** FOOTER  ****************************/    
    footer {
        padding-block: 36px;
    }
    
    .footer-top {
        flex-direction: row;
    }
}

@media screen and (min-width : 1440px) {

/**************************** HEADER ****************************/

/**************************** HERO ****************************/
.hero-section, .collection-section {
    padding: 52px 120px;
}

.hero-text-description h1 {
    font-size: var(--text-5xl);
    line-height: 60px;
    letter-spacing: -4%;
}

/**************************** COLLECTION ****************************/

/**************************** FOOTER  ****************************/    
    footer {
        gap: 10px;
        padding: 52px 120px;
    }

    .subscribe input {
        width: 316px;
    }

    .footer-bottom-wrapper {
        width: 140px;
        height: 16px;
    }

    .footer-bottom-wrapper p {
        width: 140px;
        height: 16px;
    }
}